h1 {
    color: coral;
}
body {
    background-color:darkslategrey;
}
ul li {
    color:firebrick;
    font-size: 33px;
    border-style: solid;
    border-radius: 10px;
    border-color: chartreuse;
}
.title-size {
        font-size: 44px;
        color: gold;
}
.font {
    font-size: 23px;
}